# Embedding provider: gemini, ollama, openai
EMBEDDING_PROVIDER=gemini
EMBEDDING_API_KEY=sua-chave-api-aqui

# Auth (opcional: deixe vazio para desabilitar)
AUTH_USER=admin
AUTH_PASS=ton618

# Outros
# PORT=6180
# DOCS_DIR=./docs
# OLLAMA_HOST=http://localhost:11434
